---
const routes = [
  { name: 'Inicio', path: '/' },
  { name: 'Blog', path: '/blog' },
  { name: 'Conectate', path: '/conectate' },
  { name: 'Donation', path: '/donation' }
];
---

<section class="bg-black p-4 text-white grid gap-2 grid-cols-2">
  <div class="border">
    <h5 class="font-bold uppercase">Ministerios</h5>
    <p>Artes</p>
    <p>Musica</p>
  </div>
  <div class="border"> 
    <h5 class="font-bold uppercase"> Sedes CBI</h5>
    <p>Barcelona</p>
    <p>Barcelona</p>
    <p>Barcelona</p>
    <p>Barcelona</p>
  </div>
  <div class="border">
    <h5 class="font-bold uppercase">Accion Social</h5>
    <p>Missiones</p>
  </div>
  <div class="border p-4">
    <h5 class="font-bold uppercase leading-0.5 mb-4">Eventos</h5>
    <p>Libres Para Amar</p>
    <p>FamiCafe</p>
    <p>Madrugadas</p>
  </div>
</section>