---
import SermonCard from "./sermons/SermonCard.astro"
import ArrowRightIcon from "./icons/ArrowRightIcon.astro"
import { getLatestSermons, getChannelUrl } from "../helpers/youtubeData"

// Fetch latest 3 sermons from YouTube
const sermons = await getLatestSermons(2)
const channelUrl = getChannelUrl()
---

<section id="sermons" class="py-10 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-gray-900 font-bebas">
        <span class="md:hidden">Ultimo Mensaje</span>
        <span class="hidden md:inline">Ultimos Mensajes</span>
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        sermons.map((sermon, i) => (
          <div class={i === 0 ? "" : "hidden md:block"}>
            <SermonCard sermon={sermon} />
          </div>
        ))
      }
    </div>
    <div id="all-sermons-btn" class="mt-10 text-center">
      <a
        href={channelUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center text-primary text-xl font-medium hover:text-primary/90 hover:underline-offset-4 hover:underline">
        Ver todos los Mensajes
        <ArrowRightIcon size={16} class="ml-2" />
      </a>
    </div>
  </div>
</section>
