---
import SermonsPreview from "./SermonsPreview.astro"
import TasdContainer from "./tasd/TasdContainer.astro"
import ValuesContent from "./values/ValuesContent.astro"
---

<div
  class="relative min-h-56 font-['Inter',_'Roboto',_'Helvetica_Neue',_'Arial_Nova',_'Nimbus_Sans',_'Arial',_sans-serif] text-[#2c3e50]">
  <SermonsPreview />
	<ValuesContent />
  <!-- <TasdContainer /> -->


  <!-- <div class="max-w-[300px] p-6 bg-white/95 rounded-2xl shadow-md transition-all duration-200 hover:-translate-y-1 hover:shadow-lg">
		<h2 class="text-2xl font-semibold text-[#2c3e50] mb-4">Upcoming Events</h2>
		<p class="text-[#34495e] text-base leading-relaxed m-0">
			Join us for our weekly Sunday service at 10:00 AM. All are welcome to experience the love and grace of God in our community.
		</p>
	</div> -->
</div>
