---
import Layout from "../layouts/Layout.astro"
import ValuesContent from "../components/values/ValuesContent.astro"

---
<Layout title="Valores - CBI Orlando" navLogo="black">
  <div class="pt-16">
    <ValuesContent />
  </div>
</Layout>

